<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="card-panel green lighten-2">
    <nav>
        <div class="nav-wrapper background-color white-text brown darken-4">
            <a href="#" class="brand-logo center font-size large">Tech Blog</a>
        <ul>
            <li> <a href="/">Home</a> </li>
            <li> <a href="/dashboard"> Dashboard</a></li>
            <li> <a href="/login"> Login</a></li>
            <li> <a href="/signup"> Signup</a></li>
            
        </ul>

       
        </div>
    </nav>

    <main>
        {{{ body }}}
    </main>
    <footer >
        Thanks for visiting!
    </footer>

    
</body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/javascript/logout.js"></script>


</html>