<div>
<h2>Sign up</h2>
<form class="signup-form">
    <div>
        <label for="user-name">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-signup" />
</div>
    <button class="submit-btn" type="submit">Sign Up!</button>
    
    
</form>
<a href="/login">Login Instead</a>



</div>

<script src="/javascript/signup.js"></script>